*.dict
*.db
*.pkl
*.pyc
rss-feeds.json
*.pem
*.ppk
*.env
env.txt
.env
credentials.json
token.json
Lambdas/Summarize&Send/*/**
Lambdas/Summarize&Send/lambda_function.zip
rss_feeds_v2.json
sample_rss_feeds.json
unique_article_ids.csv
pytorch_model.bin
ArchV2/UserRequestContent/*
